@page
@model CA.Pages.AboutModel

<div class="about-container">
    <div class="about-card">
        <div class="about-name">
            <h1>Roger Hausmann</h1>
        </div>
        <div class="position">
            <p><strong>Publisher & Principal Correspondent</strong> CapitalAnalyst</p>
        </div>
        <div class="email">
            <p><strong>Email:</strong> <a href="mailto:roger.hausmann@capitalanalyst.com.au">roger.hausmann@capitalanalyst.com.au</a></p>
        </div>
    </div>
</div>


